<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bytescout.PDFRenderer" version="9.2.0.3293" targetFramework="net461" />
  <package id="Pdf2Png" version="1.0.2" targetFramework="net461" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net461" />
  <package id="sautinsoft.pdffocus" version="6.9.7.6" targetFramework="net461" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net461" />
</packages>